<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.tecnologicodecoacalco.proyecto_titulacion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyectotitulacion">
        <activity
            android:name=".viewpager.AdvicesActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.ActivitySettings"
            android:exported="false" />
        <activity
            android:name=".dashboard.ActivityHardwareConection"
            android:exported="false" />
        <activity
            android:name=".dashboard.ActivityAppConection"
            android:exported="false" />
        <activity
            android:name=".dashboard.ActivityBabyRegister"
            android:exported="false" />
        <activity
            android:name=".dashboard.ActivityDashboard"
            android:exported="false" />
        <activity
            android:name=".login.view.view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.view.view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>